<!-- <p>parent works!</p> -->

<!-- <h1>Parent Component</h1>
<br>
<button (click) = "deposit()">Deposit Rs. 500/-</button>
<br>
<p>Balance Amount is {{pAmount}}</p>
<br>
Your child has spent {{pSpent}} in a day!!!! <br><br>
<hr>

<app-child [(amount)] = "pAmount" [(spent)] = "pSpent"></app-child> -->

<h1>Parent Component</h1>
<br>
<button (click) = "deposit()">Deposit Rs. 500/-</button>
<br>
<app-child [(amount)] = "pAmount" [(spent)] = "pSpent">Content Projection Through Parent</app-child>
<p>Balance Amount is {{pAmount}}</p>
<br>
Your child has spent {{pSpent}} in a day!!!! <br><br>
<hr>

<!-- <app-child [(amount)] = "pAmount" [(spent)] = "pSpent"></app-child> -->