<!-- <div>
  <h2>Welcome {{title}} !!! </h2>
</div>

<div>
  {{firstName}} {{lastName}} is the name of the person. Please
</div> -->

<!-- <app-c3></app-c3> -->
<!-- <app-parent></app-parent> -->
<!-- <app-movies></app-movies> -->
<!-- <app-pipes></app-pipes> -->
<!-- <app-table-component></app-table-component> -->
<!-- <div>
  <h2>Welcome {{title}}!!! </h2>
</div>  -->

<!-- <a href="login">Login</a>
<br>
<a href="movies">Movies Demo</a>
<br>
<a href="pipes">Pipes Demo</a>
<br>
<a href="c3">Component Demo</a>

<router-outlet></router-outlet> -->

<!-- <app-observables></app-observables> -->
<app-injectibles></app-injectibles>