<!-- <p>movies works!</p> -->

<div>
    Input String: <input type="number" [(ngModel)] = "num">
    <div [ngSwitch] = "num">
        <ul *ngSwitchCase = '1'>{{movies[0].name}}</ul>
        <ul *ngSwitchCase = '2'>{{movies[1].name}}</ul>
        <ul *ngSwitchCase = '3'>{{movies[2].name}}</ul>
        <ul *ngSwitchCase = 0> Nothing is Selected</ul>

        <ul *ngSwitchDefault>Wait for new movies</ul>
    </div>
</div>

<!-- <div>
    Input String: <input type="text" [(ngModel)] = "choice">
    <div [ngSwitch] = "choice">
        <ul *ngSwitchCase = '"1"'>{{movies[0].name}}</ul>
        <ul *ngSwitchCase = '"2"'>{{movies[1].name}}</ul>
        <ul *ngSwitchCase = '"3"'>{{movies[2].name}}</ul>

        <ul *ngSwitchDefault>Wait for new movies</ul>
    </div>
</div> -->